@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500')
@import'reset.styl'

    :root{
    font-family 'Montserrat', sans-serif
    color black
    font-size 16px
    font-weight 500
    width 100vw
    height 100vh
    display flex
    flex-direction column
    justify-content center
    align-items center
}

